/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  background-size: cover;
  padding: 15px;
}
.heading {
  color: aliceblue;
  padding-top: 35px;
  font-size: 30px;
  font-family: roboto;
  font-weight: 700;
  text-align: center;
}

.sub-container {
  text-align: center;
  padding-bottom: 20px;
}
.image {
  height: 200px;
}
